.sections

	&__item
		padding-top 100px

		&_hero
			background-image url('../images/hero-bg.jpg')
			background-repeat no-repeat
			background-position center
			background-size cover

	&__center
		margin-x auto
		padding-x 15px
		max-width 1130px
