.skills
	display flex
	flex-wrap wrap
	justify-content space-between

	&__item
		margin-bottom 37px
		padding-left 14px
		width 100%
		border-left 4px solid #78b5e0

		+above(780px)
			width 320px

		+above(930px)
			width 400px

		+above(1055px)
			width 500px