built-titling = 'Built Titling', sans-serif
dosis-light = 'Dosis Light', sans-serif

@font-face
	font-family 'Built Titling'
	src local('Built Titling'),
		local('built-titling-regular'),
		url('../fonts/built-titling-regular.ttf') format('truetype')
	font-weight 400
	font-style normal

@font-face
	font-family 'Dosis Light'
	src local('Dosis Light'),
		local('dosis-light'),
		url('../fonts/dosis-light.ttf') format('truetype')
	font-weight 400
	font-style normal