built-titling = 'Built Titling', sans-serif
roboto-light = 'Roboto Light', sans-serif

@font-face
	font-family 'Built Titling'
	src local('Built Titling'),
		local('built-titling-regular'),
		url('../fonts/built-titling-regular.ttf') format('truetype')
	font-weight 400
	font-style normal

@font-face
	font-family 'Roboto Light'
	src local('Roboto Light'),
		local('roboto-light'),
		url('../fonts/roboto-light.ttf') format('truetype')
	font-weight 400
	font-style normal
