.content
	padding-left 25px

	&__mail
		sprite($mail)

	&__skype
		sprite($skype)

	&__linkedin
		sprite($linkedin)

	&__mail,
	&__skype,
	&__linkedin
		margin-right 10px
		margin-bottom -4px
		display inline-block
