.mobile-menu
	position fixed
	z-index 99
	top 104px
	display none
	width 100%
	text-align center
	background-color #fff
	transition-duration .3s
	transition-timing-function ease-out
	transition-property opacity

	&_active
		display block

		+above(905px)
			display none
