.logo
	position relative
	max-width 374px
	height 74px

	&__left
		float left
		sprite($logo_left)

	&__right
		margin-left 5px
		display none
		float right
		sprite($logo_right)

		+above(533px)
			display block
