.logo
	position relative
	max-width 374px
	height 74px

	&__left
		float left
		sprite($logo_left)

	&__right
		margin-left 5px
		display none
		float right
		sprite($logo_right)

		+above(533px)
			display block

	&__beta
		position absolute
		top 7px
		right -19px
		padding-top 1px
		padding-left 4px
		width 25px
		height 17px
		font-family built-titling
		font-size 11px
		font-weight bold
		line-height 17px
		letter-spacing 1px
		color #fff
		background-color #00985F
		border-radius 3px
