.button
	padding 10px 10px 8px
	display inline-block
	font-family built-titling
	font-size 28px
	text-decoration none
	color #fff
	border 3px solid #fff
	border-radius 3px
	transition-duration .3s
	transition-timing-function ease-out
	transition-property color, background-color

	&:hover
		color #000
		background-color #fff

	&_small
		font-size 22px
